:root {
    --white: #ffffff;
    --off-white: #e5e5e5;
    --transp-white-1: rgba(255, 255, 255, 0.25);
    --transp-white-2: rgba(255, 255, 255, 0.18);
    --blue-1: #62b8f5;
    --blue-2: #4475ef;
    --shadow: rgba(3, 46, 87, 0.2);
}

body {
    background-image: url('https://images.pexels.com/photos/3008509/pexels-photo-3008509.jpeg?auto=compress&cs=tinysrgb&w=1600');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.container {
    width: 50%;
    margin: 5rem auto;
    padding: 2rem;
    border-radius: 10px;
    color: rgb(5, 41, 51);
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Apply a blur effect to the background */
    box-shadow: 0 4px 6px var(--shadow);
}

h1 {
    text-align: center;
    color: rgb(5, 41, 51);
    margin-bottom: 15px;
    font-size: 2rem;
}

form {
    display: grid;
    grid-template-columns: 72% 25%;
    grid-gap: 3%;
}

input, .btn::placeholder {
    background-color: transparent;
    padding: .5rem;
    border-radius: 10px;
    outline: none;
    border: 1px solid white;
    color: black;
}

.btn {
    padding: .5rem 1rem;
    border: 2px solid var(--blue-2);
    cursor: pointer;
    transition: 0.3s;
    color: var(--blue-2);
    background-color: transparent;
    border-radius: 0.3em;
}

.btn:hover {
    transform: translateY(-3px);
    background-color: rgb(5, 41, 51);
    color: #fff;
}

.weather {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
}

.left, .right {
    width: 48%;
    padding: .3rem;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px var(--shadow);
}

.left {
    text-transform: uppercase;
}

.temp {
    text-align: center;
    margin-top: 15px;
    font-size: 2rem;
}

.city {
    margin-top: -22px;
    text-align: center;
    font-size: 1.5rem;
}

.icon img {
    display: block;
    margin: 0 auto;
}

.condition {
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem;
    color: rgb(5, 41, 51);
}

@media only screen and (max-width: 1000px) {
    .container {
        width: 80%;
    }
}

@media only screen and (max-width: 700px) {
    .weather {
        flex-direction: column;
        height: auto;
    }
    .container {
        text-align: center;
        width: 90%;
        height: auto;
    }
    .right {
        margin-top: .5rem;
    }
    form {
        grid-template-columns: 100%;
    }
}
